@page
@model Mellow.RazorPage.Pages.Odalar.IndexModel
@{

   
}
<a asp-page="./Create" class="btn btn-primary">Create</a>
<table class="table table-hover">
    <tr>
        <td>Oda No</td>
        <td>Tipi</td>
        <td>Yatak Sayisi</td>
        <td>Reserved</td>
        <td>Islemler</td>
    </tr>
    <tbody>
        @foreach (var item in Model.Odalar)
        {
            <tr>
                <td>@item.OdaNumarasi</td>
                <td>@item.OdaTipi</td>
                <td>@item.YatakSayisi</td>
                <td>@item.IsReserved</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Duzenle</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detay</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Sil</a>
                    <a asp-page="/Privacy">Privacy</a>

                </td>
            </tr>
        }
    </tbody>
</table>